<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title></title>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta content="width=640" name="viewport" />
	</head>
	<body bgcolor="#c7c7c7" style="width: 100% !important; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif; background-color: #c7c7c7; margin: 0; padding: 0;">
		<table bgcolor="#c7c7c7" style="width: 100%; background-color: #c7c7c7;">
			<tbody>
				<tr style="border-collapse: collapse;">
					<td align="center" bgcolor="#c7c7c7" style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;">
						<table border="0" cellpadding="0" cellspacing="0" style="margin: 0 10px;" width="640">
							<tbody>
								<tr style="border-collapse: collapse;">
									<td height="20" style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="640">
										&nbsp;</td>
								</tr>
								<tr style="border-collapse: collapse;">
									<td style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="640">
										<table bgcolor="#000000" border="0" cellpadding="0" cellspacing="0" style="border-radius: 6px 6px 0px 0px; -moz-border-radius: 6px 6px 0px 0px; -webkit-border-radius: 6px 6px 0px 0px; -webkit-font-smoothing: antialiased; color: #888888; background-color: #2E2E2E;" width="640">
											<tbody>
												<tr style="border-collapse: collapse;">
													<td style="width: 5px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="15">
														&nbsp;</td>
													<td style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif; width: 95px !important; text-align: center; vertical-align: middle; height: 35px;">
														Sistema de Submiss&atilde;o de C&oacute;digos-Fonte</td>
													<td style="width: 5px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="15">
														&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr style="border-collapse: collapse;">
									<td align="center" bgcolor="#000000" style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="640">
										<table border="0" cellpadding="0" cellspacing="0" style="" width="640">
											<tbody>
												<tr style="border-collapse: collapse;">
													<td style="width: 10px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="30">
														&nbsp;</td>
													<td height="30" style="width: 620px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="580">
														&nbsp;</td>
													<td style="width: 10px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="30">
														&nbsp;</td>
												</tr>
												<tr style="border-collapse: collapse;">
													<td style="width: 10px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="30">
														&nbsp;</td>
													<td style="width: 620px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="580">
														<div align="center">
															<p align="center" style="font-size: 30px !important; color: #eeeeee; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif; text-align: center; margin-top: 0px; margin-bottom: 30px;">
																<b>Confirma&ccedil;&atilde;o de Registro</b></p>
														</div>
													</td>
													<td style="width: 10px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="30">
														&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr style="border-collapse: collapse;">
									<td bgcolor="#ffffff" height="30" style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="640">
										&nbsp;</td>
								</tr>
								<tr style="border-collapse: collapse;">
									<td bgcolor="#ffffff" style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="640">
										<table border="0" cellpadding="0" cellspacing="0" style="" width="640">
											<tbody>
												<tr style="border-collapse: collapse;">
													<td style="width: 10px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="30">
														&nbsp;</td>
													<td style="width: 620px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="580">
														<table border="0" cellpadding="0" cellspacing="0" style="width: 620px !important;" width="580">
															<tbody>
																<tr style="border-collapse: collapse;">
																	<td style="width: 620px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="580">
																		<p align="left" style="font-size: 18px; line-height: 24px; color: #b0b0b0; font-weight: bold; margin-top: 0px; margin-bottom: 18px; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;">
																			{{ user.name }},</p>
																		<div align="left" style="-webkit-text-size-adjust: 90% !important; -ms-text-size-adjust: 90% !important; font-size: 13px; line-height: 18px; color: #444444; margin-top: 0px; margin-bottom: 18px; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;">
																			<p style="margin-bottom: 15px;">
																				Voc&ecirc; acabou de ser registrado no sistema de submiss&atilde;o de c&oacute;digos-fonte. O pr&oacute;ximo passo &eacute; confirmar que voc&ecirc; recebeu este email.</p>
																			<p style="margin-bottom: 15px;">
																				Para fazer a confirma&ccedil;&atilde;o,&nbsp;<a href="{{ confirmationLink }}" style="color: rgb(47, 130, 222); font-weight: bold; text-decoration: none;">clique aqui</a>.</p>
																			<p style="margin-bottom: 15px;">
																				Assim que confirmar seu email poder&aacute; fazer o uso do sistema enviar seus c&oacute;digos para a corre&ccedil;&atilde;o autom&aacute;tica.</p>
																			<p style="margin-bottom: 15px;">
																				&nbsp;</p>
																			<p style="margin-bottom: 15px;">
																				Obrigado!</p>
																			<p style="margin-bottom: 15px;">
																				Prof. Guilherme Wachs</p>
																		</div>
																	</td>
																</tr>
																<tr style="border-collapse: collapse;">
																	<td height="10" style="width: 620px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="580">
																		&nbsp;</td>
																</tr>
															</tbody>
														</table>
													</td>
													<td style="width: 10px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="30">
														&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr style="border-collapse: collapse;">
									<td bgcolor="#ffffff" height="15" style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="640">
										&nbsp;</td>
								</tr>
								<tr style="border-collapse: collapse;">
									<td style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="640">
										<table bgcolor="#000000" border="0" cellpadding="0" cellspacing="0" style="border-radius: 0px 0px 6px 6px; -moz-border-radius: 0px 0px 6px 6px; -webkit-border-radius: 0px 0px 6px 6px; -webkit-font-smoothing: antialiased; color: #888888; background-color: #000000;" width="640">
											<tbody>
												<tr style="border-collapse: collapse;">
													<td style="width: 10px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="30">
														&nbsp;</td>
													<td height="30" style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="360">
														&nbsp;</td>
													<td style="width: 0 !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="60">
														&nbsp;</td>
													<td style="width: 0 !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="160">
														&nbsp;</td>
													<td style="width: 10px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="30">
														&nbsp;</td>
												</tr>
												<tr style="border-collapse: collapse;">
													<td style="width: 10px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="30">
														&nbsp;</td>
													<td style="width: 620px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" valign="top" width="360">
														<p align="left" style="text-align: center !important; -webkit-text-size-adjust: 80% !important; -ms-text-size-adjust: 80% !important; font-size: 12px; line-height: 15px; color: #888888; margin-top: 0px; margin-bottom: 15px;">
															<a href="#d41d8cd98f00b204e9800998ecf8427e" lang="en" style="color: #eeeeee; font-weight: bold; text-decoration: none;">Edit your subscription</a> | <a href="#d41d8cd98f00b204e9800998ecf8427e" style="color: #eeeeee; font-weight: bold; text-decoration: none;">Unsubscribe</a></p>
													</td>
													<td style="display: none !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="60">
														&nbsp;</td>
													<td style="display: none !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" valign="top" width="160">
														<p align="right" style="-webkit-text-size-adjust: none; -ms-text-size-adjust: none; font-size: 11px; line-height: 16px; color: #ffffff; margin-top: 0px; margin-bottom: 15px; white-space: normal;">
															&nbsp;</p>
													</td>
													<td style="width: 10px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="30">
														&nbsp;</td>
												</tr>
												<tr style="border-collapse: collapse;">
													<td style="width: 10px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="30">
														&nbsp;</td>
													<td height="15" style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="360">
														&nbsp;</td>
													<td style="width: 0 !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="60">
														&nbsp;</td>
													<td style="width: 0 !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="160">
														&nbsp;</td>
													<td style="width: 10px !important; border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="30">
														&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr style="border-collapse: collapse;">
									<td height="60" style="border-collapse: collapse; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;" width="640">
										&nbsp;</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
		<p>
			&nbsp;</p>
	</body>
<